*{
    margin: 0;
    padding: 0;
    font-family: SFPRODISPLAY;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;
}

header{
    z-index: 99;
    background-color: #161617cc;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.nav-items{
    color: rgba(200, 200, 200, 0.933);
    text-decoration: none;
    font-size: .8em;
    font-weight: 400;
}

.nav-items:hover {
    color: rgba(255, 255, 255, 0.9); /* More noticeable */
    transition: color 0.3s ease-in-out;
}



.svg{
    width: 15px;
}

.last{
    margin-right: 15px;
}


.first-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    height: 92vh;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

.first-container>img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.img-1{
    background: linear-gradient(to top, #C0BCB9 22%, #DDD8D5 40%, #DEDBD6 14%);
}

.promo-container{
    width: 100%;
}

.promo{
    width: 50%;
    height: 80vh;
    overflow-x: hidden;
}

.promo>img{
    height: 100%;
    object-position: center;
}



.f-c-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    bottom: 10%;
    font-weight: 400;
}


.f-c-t-btn>button {
    border: 1px solid white;
    border-radius: 50px;
    color: #000000;
}

.f-c-t-btn>button:nth-child(2){
    color: white;
}


.s-c-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    top: 10%;
    font-weight: 400;
}

.s-c-text>h1{
    font-weight: 900;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.s-c-text>h4{
    padding: 0;
    margin: 0;
}


.s-c-t-btn>button {
    background-color: #0077ED;
    border: 1px solid #0077ED;
    border-radius: 50px;
    color: white;
    margin-top: 5px;
}

.s-c-t-btn>button:nth-child(2){
    color: #0077ED;
}





.promo-text{
    top: 7%;
}

.p-t-btn>button{
    background-color: #0077ED;
    border: 1px solid #0077ED;
    color: white;
    border-radius: 50px;
}

.p-t-btn>button:nth-child(2){
    color: #0077ED;
}

.promo-16>.p-t-btn>button{
    background-color: white;
    color: #000000;
    border: 1px solid white;
}

.promo-16>.p-t-btn>button:nth-child(2){
    color: white;
}




@media screen and (max-width : 769px) {
    .svg{
        width: 18px;
    }

    .first-container{
        height: 82vh;
    }

    .f-c-text {
        bottom: 8%;
    }

    .i-gold{
        padding-top: 160px;
    }

}

@media screen and (max-width : 550px) {
    .promo{
        width: 100%;
    }

    .s-c-text{
        top: 5%;
    }

    .i-gold{
        padding-top: 150px;
    }

    .s-c-text>h1{
        font-size: 2rem;
        font-weight: 700;
    }

    .s-c-text>h4{
        font-size: 1.3rem;
        font-weight: 400;
    }

    .s-c-t-btn>button,
    .f-c-t-btn>button {
        font-size: .95rem;
    }
}

@media screen and (max-width : 426px) {
    

    .f-c-text>h4{
        font-size: 1.2rem;
    }
}